<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/auth.css" asp-append-version="true" />
</head>

<body>

    <div class="block-auth">
        <div class="block-auth__title">
            STYDYFORGE
        </div>
        <div class="">
            @RenderBody()
        </div>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    
    <script src="~/js/auth.js" asp-append-version="true"></script>
    <!--script src="~/js/ajaxToken.js" asp-append-version="true"></script-->
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
