<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StudyForge.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo.png" alt="StudyForge Logo" style="height: 40px;">
                </a>
                <a class="navbar-brand text-uppercase fw-bold" asp-area="" asp-controller="Home"
                    asp-action="Index">StudyForge</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                asp-action="Index">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                asp-action="Search">Обучение</a>
                        </li>
                        <li class="nav-item">
                            @if (User.IsInRole("admin"))
                            {
                                <a class="nav-link text-dark" href="/Admin/Main/">Панель администратора</a>
                            }
                            else if (User.IsInRole("user"))
                            {
                                <a class="nav-link text-dark" href="/СontrolPanel/">Личный кабинет</a>
                            }
                            else
                            {
                                <a class="nav-link text-dark" href="/СontrolPanel/">Вход в аккаунт</a>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="">
        @RenderBody()
    </main>
    @* <div class="container-fluid">
    <main role="main" class="pb-3">
    @RenderBody()
    </main>
    </div> *@

    <div id="toast-container" class="toast-container position-fixed bottom-0 end-0 p-3"></div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - StudyForge - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/NotificationManager.js" asp-append-version="true"></script>
    <script src="~/js/СontrolPanel.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @* <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    @* <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
