
\.vscode
\.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

publish/

*.log

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
log*

[Tt]odo
TODO
FIXME
DEBUG


Figma
Figma/

DrawIO
DrawIO/

[Aa]ttributes/
[Aa]ttributes