.image-profile {
    max-width: 100%; /* Устанавливаем максимальную ширину изображения равной ширине родительского контейнера */
    height: auto; /* Автоматически подстраиваем высоту изображения */
}


.col-image-profile {
    min-width: 60px;
}
