<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StudyForge</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/СontrolPanel/Profile.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StudyForge.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css">
    <style>

    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">StudyForge</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                asp-action="Index">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                asp-action="Search">Обучение</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/СontrolPanel/">Личный
                                кабинет
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="container-fluid">
        <div class="row">
            <div class="d-flex col flex-column flex-shrink-0 p-3 bg-white border-end" style="width: 280px;">
                <div class="dropdown">
                    <a href="#"
                        class="d-flex align-items-center nav-link link-body-emphasis text-decoration-none dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Профиль
                    </a>
                    <ul class="dropdown-menu text-small shadow">
                        <li><a class="dropdown-item" href="#" data-page="Profile">Мой аккаунт</a></li>
                        <li><a class="dropdown-item" href="#" data-page="Home">Настройки</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" data-page="LogOut" href="#">Выйти</a></li>
                    </ul>
                </div>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link active" data-page="Home" aria-current="page">
                            Главная
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link link-body-emphasis" data-page="Home">
                            Статистика
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link link-body-emphasis" data-page="Courses">
                            Курсы
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link link-body-emphasis" data-page="Applications">
                            Заявки
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link link-body-emphasis" data-page="Home">
                            Другое
                        </a>
                    </li>
                </ul>
            </div>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" id="container-main-content">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - StudyForge - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/СontrolPanel.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
