@model List<Course>

<style>
    .clickable-course {
        cursor: pointer;
        padding: 10px;
        margin: 10px;
    }

    .active-course {
        color: #007BFF;
    }
</style>


<div class="container">
    <!-- Заголовок страницы -->
    <h1 class="fs-1 fw-bold mb-2">Заявки</h1>

    <!-- Поле выбора статуса заявки -->
    <div class="row mb-3 align-items-center">
        <div class="col-auto">
            <label for="statusSelect" class="form-label">Статус заявки:</label>
        </div>
        <div class="col-auto">
            <select class="form-select" id="statusSelect">
                <option value="1">Принятно</option>
                <option value="2">Отклонено</option>
                <option value="4">Ожидание</option>
                <option value="null">Все</option>
            </select>
        </div>
    </div>

    <!-- Кликабельные поля с названием курсов -->
    <h1 class="fs-4 fw-bold mb-2">Курсы</h1>
    <div class="row">
        @foreach (Course course in Model)
        {
            <div class="col-auto m-2 clickable-course border rounded p-2 text-center" data-course-id="@course.CourseId">
                <div class="text-truncate">@course.CourseName</div>
            </div>
        }
    </div>

    <!-- Контейнер для отображения заявок -->
    <div id="applicationsContainer" class="mt-5"></div>
</div>


<script>

    $(document).ready(function () {

        // Функция для загрузки заявок по выбранному курсу и статусу
        function getApplications(courseId, selectedStatus) {
            $.ajax({
                type: 'GET',
                url: '/СontrolPanel/GetApplications',
                data: {
                    courseId: courseId,
                    statusId: selectedStatus
                },
                success: function (response) {
                    if (response.length === 0) {
                        $('#applicationsContainer').html('<p class="text-center fs-3">Нет заявок</p>');
                    } else {
                        renderApplications(response);
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        }

        // Обработчик клика на курс
        $('.clickable-course').click(function () {
            $(".active-course").removeClass("active-course");
            $(this).addClass("active-course");
            var courseId = $(this).data('course-id');
            var selectedStatus = $('#statusSelect').val();
            getApplications(courseId, selectedStatus);
        });

        // Функция для отрисовки заявок
        function renderApplications(applications) {
            var container = $('#applicationsContainer');
            container.empty();

            applications.forEach(function (application) {
                var card = $('<div>').addClass('card mb-3').attr('id', application.applicationId);
                var cardBody = $('<div>').addClass('card-body');

                var title = $('<h5>').addClass('fs-3 fw-bold card-title').text(`${application.firstName} ${application.lastName}`);
                cardBody.append(title);

                var details = $('<p>').addClass('card-text').text(`Телефон: ${application.phone}`);
                cardBody.append(details);

                details = $('<p>').addClass('card-text').text(`Дата рождения: ${new Date(application.birthday).toLocaleDateString()}`);
                cardBody.append(details);

                details = $('<p>').addClass('card-text').text(`Email: ${application.email}`);
                cardBody.append(details);

                details = $('<p>').addClass('card-text').text(`Дата подачи: ${new Date(application.created_at).toLocaleDateString()}`);
                cardBody.append(details);

                details = $('<p>').addClass('card-text').text(`Название формы обучения: ${application.formTrainingName}`);
                cardBody.append(details);

                details = $('<p>').addClass('card-text').text(`Город: ${application.cityName}`);
                cardBody.append(details);

                details = $('<p>').addClass('card-text').text(`Набор: ${application.enrollment}`);
                cardBody.append(details);

                details = $('<p>').addClass('card-text').text(`Дата начала набора: ${new Date(application.dateStart).toLocaleDateString()}`);
                cardBody.append(details);

                details = $('<p>').addClass('card-text').text(`Цена: ${application.price ? application.price.toFixed(2) : '-'}`);
                cardBody.append(details);

                details = $('<p>').addClass('card-text').text(`Длительность в часах: ${application.duration ? application.duration : '-'}`);
                cardBody.append(details);

                var select = $('<select>').addClass('form-control status-select').attr('data-application-id', application.applicationId);
                select.append($('<option>').attr('value', '1').prop('selected', application.idStatusApplications === 1).text('Принято'));
                select.append($('<option>').attr('value', '2').prop('selected', application.idStatusApplications === 2).text('Отклонено'));
                select.append($('<option>').attr('value', '3').prop('selected', application.idStatusApplications === 3).text('Ожидание'));
                cardBody.append(select);

                card.append(cardBody);
                container.append(card);
            });

            // Обработчик изменения статуса заявки
            $(document).on('change', '.status-select', function () {
                var applicationId = $(this).attr('data-application-id');
                var newStatus = $(this).val();

                $.ajax({
                    type: 'PUT',
                    url: `/СontrolPanel/ChangeApplicationStatus/${applicationId}/${newStatus}`,
                    success: function (response) {
                        Message("Успех!", "Статус заявки измнен!");
                    },
                    error: function (xhr, status, error) {
                        console.error('Ошибка при изменении статуса заявки:', xhr.responseText);
                    }
                });
            });
        }

        // Обработчик изменения выбранного статуса
        $('#statusSelect').change(function () {
            var courseId = $('.active-course').data('course-id');
            var selectedStatus = $(this).val();
            getApplications(courseId, selectedStatus);
        });

    });

</script>


