<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h2>Добро пожаловать в ваш личный кабинет на StudyForge!</h2>
            <p class="lead mt-4">Мы рады приветствовать вас здесь. Если у вас возникли вопросы или проблемы, не стесняйтесь обращаться к нам на почту <a href="mailto:studyforgeadm@gmail.com">studyforgeadm@gmail.com</a>.</p>
            <p class="mt-4">Пожалуйста, помните, что на платформе действуют следующие правила:</p>
            <p>Запрещено создавать курсы с неправильным содержанием, включая мат, большой капс, а также темы, не относящиеся к выбранной категории.</p>
            <p>Мы стремимся создать образовательное пространство, полезное для всех наших пользователей. Спасибо за ваше сотрудничество!</p>
        </div>
    </div>
</div>
