<div class="container-fluid" style="padding: 0%;">
    <div class="d-flex">


        <style>
            .side-panel {

                width: 250px;
                height: 100vh;
                background-color: rgb(33, 37, 41);
            }

            .line {
                color: white;
                margin-top: 10px;
                margin-bottom: 10px;
                background-color: white;
            }
        </style>

        <div class="d-none d-md-block text-center" style="padding: 0px;">
            <div class=" side-panel">
                <div class="text-light p-2 fs-4 fw-bold">
                    Боковая панель
                </div>
                <hr class="line">
                <button type="button" class="btn btn-dark btn-control w-100" data-page="Profile">
                    <i class="bi bi-person"></i> Профиль
                </button>
                <button type="button" class="btn btn-dark btn-control w-100" data-page="Home">
                    <i class="bi bi-house"></i> Главная
                </button>
                <button type="button" class="btn btn-dark btn-control w-100" data-page="Statistics">
                    <i class="bi bi-bar-chart"></i> Статистика
                </button>
                <button type="button" class="btn btn-dark btn-control w-100" data-page="Courses">
                    <i class="bi bi-book"></i> Курсы
                </button>
                <button type="button" class="btn btn-dark btn-control w-100" data-page="Applications">
                    <i class="bi bi-file-earmark"></i> Заявки
                </button>
                <button type="button" class="btn btn-dark btn-control w-100" data-page="LogOut">
                    <i class="bi bi-box-arrow-right"></i> Выйти
                </button>

            </div>
        </div>

        @* <div class="col-lg-6 mt-2 mb-2 mx-auto">
        <div class="d-md-none text-center"> <!-- Этот блок будет виден только на мобильных устройствах -->
        <div class="col-md-3 d-md-none text-center">
        <!-- Этот блок будет виден только на мобильных устройствах -->
        <div class="dropdown">
        <button class="btn btn-dark btn-lg btn-block dropdown-toggle" type="button"
        data-bs-toggle="dropdown" aria-expanded="false">
        Кнопка выпадающего списка
        </button>
        <div class="dropdown-menu">
        <button type="button" class="btn btn-lg btn-control" data-page="Profile">Профиль</button>
        <button type="button" class="btn btn-lg btn-control" data-page="Home">Главная</button>
        <button type="button" class="btn btn-lg btn-control"
        data-page="Statistics">Статистика</button>
        <button type="button" class="btn btn-lg btn-control" data-page="Courses">Курсы</button>
        <button type="button" class="btn btn-lg btn-control" data-page="Applications">Заявки</button>
        <button type="button" class="btn btn-lg btn-control" data-page="LogOut">Выйти</button>
        </div>
        </div>
        </div>
        </div>
        <div class="d-none d-md-block text-center">
        <!-- Этот блок будет виден только на устройствах с шириной экрана больше md (medium) -->
        <div class="btn-group d-flex" role="group" aria-label="Простой пример">
        <button type="button" class="btn btn-dark btn-control w-100" data-page="Profile">
        <i class="bi bi-person"></i> Профиль
        </button>
        <button type="button" class="btn btn-dark btn-control w-100" data-page="Home">
        <i class="bi bi-house"></i> Главная
        </button>
        <button type="button" class="btn btn-dark btn-control w-100" data-page="Statistics">
        <i class="bi bi-bar-chart"></i> Статистика
        </button>
        <button type="button" class="btn btn-dark btn-control w-100" data-page="Courses">
        <i class="bi bi-book"></i> Курсы
        </button>
        <button type="button" class="btn btn-dark btn-control w-100" data-page="Applications">
        <i class="bi bi-file-earmark"></i> Заявки
        </button>
        <button type="button" class="btn btn-dark btn-control w-100" data-page="LogOut">
        <i class="bi bi-box-arrow-right"></i> Выйти
        </button>
        </div>
        </div>
        </div> *@

    <div class="container-fluid mt-5" id="container-main-content">

    </div>
    </div>
</div>

@* <div class="container-fluid" id="container-main-content"></div> *@



@* <div class="row ms-sm-auto col-lg-10 px-md-4" id="container-main-content">

</div>
</div>



@* <div class="d-flex col flex-column flex-shrink-0 p-3 bg-white border-end" style="width: 280px;">
<div class="dropdown">
<a href="#"
class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
data-bs-toggle="dropdown" aria-expanded="false">
Профиль
</a>
<ul class="dropdown-menu text-small shadow">
<li><a class="dropdown-item" href="#" data-page="Profile">Мой аккаунт</a></li>
<li><a class="dropdown-item" href="#" data-page="Home">Настройки</a></li>
<li>
<hr class="dropdown-divider">
</li>
<li><a class="dropdown-item" asp-action="LogOut" asp-controller="СontrolPanel">Выйти</a></li>
</ul>
</div>
<hr>
<ul class="nav nav-pills flex-column mb-auto">
<li class="nav-item">
<a href="#" class="nav-link active" data-page="Home" aria-current="page">
Главная
</a>
</li>
<li>
<a href="#" class="nav-link link-body-emphasis" data-page="Statistics">
Статистика
</a>
</li>
<li>
<a href="#" class="nav-link link-body-emphasis" data-page="Courses">
Курсы
</a>
</li>
<li>
<a href="#" class="nav-link link-body-emphasis" data-page="Applications">
Заявки
</a>
</li>
<li>
<a href="#" class="nav-link link-body-emphasis" data-page="Home">
Другое
</a>
</li>
</ul>
</div> *@