@model List<ApplicationsPerCourse>

<div class="row">
    <div class="col text-center">
        <h2 class="my-4 fs-3 p-2 fw-bold">Мои популярные курсы</h2>

        <div style="width: 95%; margin: auto;">
            <canvas id="applicationsChart" width="800" height="400"></canvas>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    $(document).ready(function () {
        var applicationData = @Html.Raw(Json.Serialize(Model.Select(a => new { a.CourseName, a.ApplicationCount })));

        // Инициализация массивов
        var courseNames = [];
        var applicationCounts = [];
        var colors = [];

        // Генерация случайного цвета в формате RGBA
        function randomColor() {
            return 'rgba(' + Math.floor(Math.random() * 256) + ',' + Math.floor(Math.random() * 256) + ',' + Math.floor(Math.random() * 256) + ', 0.6)';
        }

        // Заполнение массивов данными из applicationData и генерация случайных цветов
        applicationData.forEach(function (data) {
            courseNames.push(data.courseName);
            applicationCounts.push(data.applicationCount);
            colors.push(randomColor());
        });

        // Отображение графика
        var ctx = document.getElementById('applicationsChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: courseNames,
                datasets: [{
                    label: 'Количество заявок на курсы',
                    data: applicationCounts,
                    backgroundColor: colors, // Случайные цвета для каждого столбца
                    borderColor: 'rgba(0, 0, 0, 1)', // Цвет границ столбцов
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                            stepSize: 1 // Устанавливаем шаг делений равным 1
                        }
                    }
                }
            }
        });
    });
</script>