@{
    ViewData["Title"] = "Главная";
}


<div class="greeting-block mt-5">
    <div class="greeting-block__text-container">
        <div class="greeting-block__title">Учебный процесс</div>
        <div class="greeting-block__text">Study Forge - инновационная образовательная платформа с персонализированными
            курсами и гибким расписанием. Доступно из любой точки мира.</div>
        <div class="greeting-block__text">Наша платформа предлагает персонализированные курсы и передовые технологии для
            удобного обучения и взаимодействия студентов с преподавателями.</div>
    </div>
    <div class="greeting-block__image-container">
        <img src="/images/file.png" class="greeting-block__image">
    </div>

</div>


<div class="advantage mt-5">
    <div class="advantage-container">
        <div class="advantage_title">
            Примущества
        </div>
        <div class="advantage_description">ознакомтесь с нашими возможностями
        </div>
    </div>
    <div class="advantage__container">
        <div class="advantage-block">
            <div class="advantage-block__title">Интерфейс</div>
            <div class="advantage-block__text">Удобный и интерактивно понятный</div>
        </div>

        <div class="advantage-block">
            <div class="advantage-block__title">Управление</div>
            <div class="advantage-block__text">управляйте свои курсами и получайте статистику</div>
        </div>
        <div class="advantage-block">
            <div class="advantage-block__title">Поиск</div>
            <div class="advantage-block__text">Эффективный поиск в нашем каталоге</div>
        </div>

    </div>
</div>


<div class="program-education mt-5">
    <div class="program-education__title">
        наши программы
    </div>

    <div class="program-education__container">
        <div class="program-education-colum">
            <div class="program-education-colum__description">
                <div class="program-education-colum__container-img">
                    <img src="/images/pg1.png" class="program-education-colum__img">
                </div>
                <div class="program-education-colum__title">Научно-технический мир</div>
            </div>
            <div class="program-education-colum__list">
                <div class="program-education-colum__option">Наука и технологии</div>
                <div class="program-education-colum__option">программирование</div>
                <div class="program-education-colum__option">тестирование</div>
            </div>
        </div>

        <div class="program-education-colum">
            <div class="program-education-colum__description">
                <div class="program-education-colum__container-img">
                    <img src="/images/pg2.png" class="program-education-colum__img">
                </div>
                <div class="program-education-colum__title">Научно-технический мир</div>
            </div>
            <div class="program-education-colum__list">
                <div class="program-education-colum__option">Наука и технологии</div>
                <div class="program-education-colum__option">программирование</div>
                <div class="program-education-colum__option">тестирование</div>
            </div>
        </div>

        <div class="program-education-colum">
            <div class="program-education-colum__description">
                <div class="program-education-colum__container-img">
                    <img src="/images/pg3.png" class="program-education-colum__img">
                </div>
                <div class="program-education-colum__title">Научно-технический мир</div>
            </div>
            <div class="program-education-colum__list">
                <div class="program-education-colum__option">Наука и технологии</div>
                <div class="program-education-colum__option">программирование</div>
                <div class="program-education-colum__option">тестирование</div>
            </div>
        </div>
    </div>

</div>
