@{
    ViewData["Title"] = "Главная";
}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/welcomeCarousel1.jpg" class="d-block w-100" style="height: 500px; object-fit: cover;" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/images/welcomeCarousel2.jpg" class="d-block w-100" style="height: 500px; object-fit: cover;" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/images/welcomeCarousel3.jpg" class="d-block w-100" style="height: 500px; object-fit: cover;" alt="...">
        </div>
    </div>
</div>


<style>
    .carousel-indicators {
        gap: 10px;
    }
    .carousel-indicators li {
        background-color: transparent; /* Прозрачный фон для неактивных точек */
        width: 70px; /* Ширина полоски */
        height: 100px; /* Высота полоски */
        border-bottom: 3px solid white;
        transition: border-color 0.3s ease; /* Анимация перехода цвета рамки */
    }

    .carousel-indicators .active {
        border-color: #007BFF; /* Красная рамка для активной точки */
    }
</style>