

<div class="d-flex vh-100">
  <div class="container align-self-center text-center">
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">Нет доступа</h4>
      <p>У вас нет доступа к этой странице.</p>
    </div>
  </div>
</div>
