.validation-span {
  color: red;
  font-size: 12px;
}

.auth-links a {
  display: block;
  margin: 5px 0;
  text-decoration: none;
  color: #007bff;
}

.auth-links a:hover {
  text-decoration: underline;
}

.auth-links {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.bg-form {
  background-color:white;
  border-radius: 20px;
}

body {
  background-image: url("/images/Background/fon-2.jpg");
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-size: cover;
  background-position: center; 
}
