@model List<CourseModel>


<div class="course-panel-buttons">
    <div class="course-panel-button button">добавить курс</div>
</div>


<div class="course-panel__title mt-5">
    мои курсы
</div>
@if (Model.Count == 0)
{
    <div class="course-panel mt-5">У вас нет курсов</div>
}
else
{
    @foreach (var course in Model)
    {
        <div class="course-panel mt-5">
        <a class="course-panel__a" asp-action="" asp-controller="">@course.CourseName </a>
        </div>
    }
}
